@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
body{
    width:400px;
    background: #f1f1f1;
}

.popup-body{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* background-color: #d4d4d4; */
    padding: 10px;
    min-height: 300px;
    justify-content: center;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.buttons2{
    display: flex;
    justify-content: space-around;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px -1px #979494;
    padding: 5px;
    cursor: pointer;
    display: flex;
    background: #1ca440;
    color: white;
    margin-bottom: 10px;
    font-weight: 600;
    height: 40px;
    box-shadow: 0px 0px 6px grey;
}

.buttons2 button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 0px 5px -1px #979494;
    padding: 5px;
    cursor: pointer;
    display: flex;
    background: #eeeeee;
    color: rgb(113 107 107);
    margin-bottom: 10px;
    font-weight: 600;
}

.monitorHead{
  display: flex;
}

.monitorMode{
  display: none;
  width: 65%;
}

.count{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid 1px white;
    padding: 5px;
    height: 41px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px grey;
    flex-direction: inherit;
    width: 35%;
    margin: 0 auto;

}

.count > label {
    font-family: unset;
    width: 75px;
    text-align: center;
}

.count > span {
    font-size: 16px;
}

button:hover{
    box-shadow: 0px 0px 6px grey;
    transition-duration: 0.3s;
}

button:focus{
    outline: none;
}

.header{
    /* font-family: 'Lobster', cursive;
    font-size: 32px; */
    text-align: center;
    color: #4a4a4a;
    margin: 0;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d1d9e752;
    padding: 5px 0;
}

.error{
    text-align: center;
    margin: 20px;
    font-size: 16px;
    color: gray;
    display: none;
    height: 100px;
    justify-content: center;
    align-items: center;
}

img{
    margin-right: 2px;
    padding: 5px;
}

span{
    margin-right: 5px;
}

.quickattandance{
    /* margin: 25px auto; */
    color: white;
    background: #178138;
    font-weight: 600;
    display: flex;
    width: 100%;
}

.snapshot{
  color: white;
  background: #178138;
  font-weight: 600;
  display: flex;
  width: 100%;
}


.tableContainer{
    overflow-x: auto;
    display: flex;
    width: 100%;
    overflow-y: auto;
    /* min-height: 100px; */
    margin-top: 10px;
    max-height: 230px;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }


  /*=====================*/
  .checkbox {
    position: relative;
    display: inline-block;
  }
  .checkbox:after, .checkbox:before {
    font-family: FontAwesome;
    font-feature-settings: normal;
    -webkit-font-kerning: auto;
            font-kerning: auto;
    font-language-override: normal;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    text-rendering: auto;
  }
  .checkbox label {
    width: 90px;
    height: 42px;
    background: #ccc;
    position: relative;
    display: inline-block;
    border-radius: 46px;
    transition: 0.4s;
  }
  .checkbox label:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    left: 0;
    top: -5px;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
  }
  .checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  .checkbox input:hover + label:after {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
  }
  .checkbox input:checked + label:after {
    left: 40px;
  }
  
.model-2 .checkbox label {
    width: 75px;
  }
  .model-2 .checkbox label:after {
    top: 0;
    width: 42px;
    height: 42px;
  }
  .model-2 .checkbox input:checked + label {
    background: #4BD865;
  }
  .model-2 .checkbox input:checked + label:after {
    left: 35px;
  }
  
  .togglediv{
    display: flex;
    justify-content: center;
    padding: 0px 5px;
    margin-bottom: 20px;
    background: #d1d9e752;
    padding: 5px 0;
  }

  .toggle{
    font-size: 15px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .toggle small{
    font-size: 12px;
    color: grey;
  }
  .options{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  .options button{
    margin:0 0.5rem;
  }

  #top-navigation{
    display: flex;
    justify-content: flex-end;
  }
  .nav-item{
    display: flex;
    justify-content: flex-end;
    padding: 0px 5px;
    font-size: 14px;
    margin: 5px 5px;
  }
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 96px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 68%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  