.container {
  padding: 1rem;
  margin: 1rem;
  background: #f9f9f9;
  box-shadow: 0 0 8px 0px grey;
}
#attendance-title {
  align-items: center;
  display: flex;
  margin: 1rem;
  box-shadow: 0 0 6px grey;
  
  padding: 0.5rem;
  justify-content: center;
}

#attendance-title > h1 {
  display: inline;
  /* font-size: 1.8rem; */
  text-decoration: underline;
}

.type-title {
  font-size: 1.3rem;
  font-weight: 600;
  display: inline;
  color: #c32235;
}
.refresh-icon:hover {
  cursor: pointer;
  color: grey;
}

.logo-text {
  display: flex;
  align-items: center;
}
.header-icon {
  /* width: 2rem;
  height: 1.9rem;
  object-fit: cover;
  margin: 0 1rem; */
  height: 1.9rem;
  margin: 0 0.5rem;
  object-fit: cover;
  width: 2rem;
  padding: 0.5rem;
  background-color: #dddada;
  border: 1px solid #04aa6d;
  border-radius: 1rem;
}
button {
  align-items: center;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 6px grey;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-weight: 600;
  justify-content: center;
  padding: 5px;
  color: #bf1e2e;
  margin-left: 1rem;
}


.logo-text >h1{
  font-size: 2rem;
}

.monitor-absent{
  color: red;
  margin-left: 1rem;
  text-shadow: 1px 1px 0px black;
  font-size: 2rem;
}