table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width:100%;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;

  }
  table td{
    font-size: 0.9rem;
  }
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
  }

  .table-header{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
  }
  .table-header input{
    border: 1px solid grey;

    margin: 0 1rem;
    padding: 0.3rem 1rem;
    text-align: left;
}
  
  input:focus{
    outline: none;
  }
  #date-search{
    display: inline;
    margin-left: 1rem;
  }
  .table-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .save-btn{
    margin-left: 1rem;
  }

  .led-green{
    display: inline;
    margin: 20px auto;
    width: 12px;
    height: 12px;
    background-color: #690;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #460 0 -1px 9px, #7D0 0 2px 12px;
  }